#fileUploadHolder {
	font-family: Calibri;
	font-size: 15px;
	
	border: 1px dashed #ccc;
	width: 800px;
	height: 60px;
	overflow-y: scroll;
	display:none;
}
#fileUploadHolder.hover {
	border: 1px dashed #0c0;
	background-color:#ccffcc;
}
#fileUploadHolder.error {
	border: 1px dashed red;
	background-color:#ffb3b3;
}

#fileUploadHolder p {
	margin: 10px;
	font-size: 12px;
}
#fileUploadHolder p.good {
	color:green;
}
#fileUploadHolder p.bad {
	font-weight:bold;
	color:red;
}

progress {
	margin-top:10px;
	width: 800px;
	height: 25px;
}

progress:after {
	content: '';
}

.fail {
	background: #c00;
	padding: 2px;
	color: #fff;
}

.hidden {
	display: none !important;
}